#page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  padding: 10px;
}

.maincontainer {
  position: relative;
  left: 970px;
  bottom: 30px;
  width: 200px;
  height: 270px;
  margin-top: 20px;
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.5s ease;
}

.thecard:hover {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fff;
  color: #333;
  border-radius: 20px;
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffd700;
  color: #042e44;
  transform: rotateY(180deg);
  text-align: center;
  border-radius: 20px;
  font-family: sans-serif;
}

.theback > p {
  padding: 7px;
  font-weight: bold;
}

.stacks {
  padding: 5px;
  font-weight: bold;
}

.icon {
  position: fixed;
  bottom: 10px;
  width: 25px;
  height: 25px;
  left: 88px;
}
